.column {
	float: left;
	padding: 10px;
	  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }

  .row{
	margin : auto;
	padding-top: 160px;
    padding-left: 500px;
 
  }
  .verticleLine{
	border-left: 2px solid grey;
	height: 350px;
  }

  @media screen and (max-width: 800px) {
	.column, .row, .verticleLine {
	  width: 100%;
	}
  }

   /* @media only screen and (max-width:620px) {​​ */
     /* .container, .right {​​
     margin: auto;
    }​​
  }​​ */